        /* @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */
        html {
            /* background:
                linear-gradient(217deg, rgba(183, 197, 208, .8), rgba(183, 197, 208, 0) 70.71%),
                linear-gradient(127deg, rgba(220, 235, 193, .8), rgba(220, 235, 193, 0) 70.71%),
                linear-gradient(336deg, rgba(208, 198, 183, .8), rgba(208, 198, 183, 0) 70.71%),
                url(../images/wildback-01.jpg) no-repeat center center fixed; */
            /* background-size: cover; */
        }

        body {
            margin: 0px;
            height: 100vh;
        }

        * {
            box-sizing: border-box;
        }

        #head_container {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: rgba(0, 75, 79, .3);
            /* height: 50px; */
        }

        #head_content {
            height: 50px;
            /* background-color: rgba(244, 126, 48, .1); */
            max-width: 980px;
            margin: 0px auto;
            /* padding: 20px; */
            display: table;
        }

        #title {
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 3rem;
            padding: 10px;
            letter-spacing: .1rem;
        }

        #wilderness {
            float: left;
            padding: 0px;
            margin-left: 10px;
            color: #eee;

        }

        #survival {
            float: left;
            padding: 0px;
            margin-top: -20px;
            margin-left: 10px;
            color: #eee;

        }

        #icon {
            /* clear: both; */
            box-sizing: content-box;
            float: right;
            height: 40px;
            padding-left: 10px;
            margin-top: 14px;
        }

        #content {
            /* margin: 0 auto; */
            /* width: 980px; */
            height: 100vh;
            /* background-color: rgba(248, 206, 61, .1); */
        }

        #quiz_container {
            /* background-color: rgba(248, 206, 61, .1); */
            margin: 0 auto;
            /* width: 80%; */
            /* height: 50%; */
            position: relative;
            top: 130px;
        }

        #bs_container {
            background-color: rgba(248, 206, 61, 1);
        }

        #question {
            padding: 20px;
        }

        #response {
            padding: 0px;
        }

        #info_area {
            padding: 0px;
            background-color: rgba(244, 126, 48, .1);
        }

        #number_div {
            padding: 0px;
            background-color: rgba(0, 75, 79, 1);
            /* float: left; */
            margin: 0px;
        }

        #number {
            padding: 20px;
            /* background-color: rgba(244, 126, 48, .1); */
            float: left;
            margin: 0px;
            color: #fff;
        }

        #timer_div {
            padding: 0px;
            background-color: rgba(244, 126, 48, 1);
            /* float: right; */
            margin: 0px;
        }

        #timer {
            padding: 20px;
            /* background-color: rgba(244, 126, 48, .1); */
            float: right;
            margin: 0px;
            color: #fff;
        }

        #btn_area {
            background-color: rgba(244, 126, 48, .9);
            text-align: center;
            padding: 10px;
        }

        #btn_area h1 {
            /* background-color: red; */
            margin: 0 auto;
            font-family: 'Raleway';
            letter-spacing: .15rem;
            color: #fff;
        }

        #foot_container {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* background-color: rgba(244, 126, 48, .1); */
            height: 50px;
        }

        #foot_content {
            position: relative;
            text-decoration: none;
            color: #999;
            font-size: .7rem;
            top: 15px;
            text-align: center;
            /* height: 50px; */
            /* background-color: rgba(244, 126, 48, .1); */
            /* border: 1px solid black; */
            max-width: 980px;
            margin: 0px auto;
        }

        a {
            color: #fff;
            text-shadow: 1px 1px 2px black; 
            display: block;        
        }

        /* Globally */
        /* Each state */
        a:visited {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            text-decoration: none;
            color: #fff;
        }

        a:focus {
            text-decoration: none;
            color: #fff;
        }

        a:hover,
        a:active {
            text-decoration: none;
            color: #fff;
        }

        .result_cat {
            float: left;
        }

        .result_num {
            float: right;
        }

        /* MEDIA QUERIES BELOW */
/* MAX WIDTH MEDIA QUERIES BELOW */
@media screen and (max-width: 560px) {

    #wilderness {
        /* float: left; */
        /* padding: 10px; */
    }

    #survival {
        float: left;
        padding: 0px;
        margin-top: -20px;
        margin-left: 10px;
    }

    #icon {
        /* float: right; */
        /* height: 60px; */
        /* padding: 10px; */
    }

    
}

@media screen and (max-width: 768px) {

    #wilderness {
        /* float: left; */
        /* padding: 10px; */
    }

    #survival {
        /* float: left; */
        /* padding: 10px; */
    }

    #icon {
        /* float: right; */
        /* height: 60px; */
        /* padding: 10px; */
    }

}

@media screen and (max-width: 980px) {

    #wilderness {
        /* float: left; */
        /* padding: 10px; */
    }

    #survival {
        /* float: left; */
        /* padding: 10px; */
    }

    #icon {
        /* float: right; */
        /* height: 60px; */
        /* padding: 10px; */
    }

}

/* MAX WIDTH MEDIA QUERIES ABOVE */




/* MIN WIDTH MEDIA QUERIES BELOW */
@media screen and (min-width: 559px) {

    #wilderness {
        float: left;
        padding: 0px;
        margin-left: 10px;

    }

    #survival {
        float: left;
        padding: 0px;
        margin-top: 0px;
        margin-left: 15px;
        /* color: red; */
    }

    #icon {
        /* clear: both; */
        box-sizing: content-box;
        float: right;
        height: 40px;
        padding-left: 10px;
        margin-top: 14px;
        margin-left: 15px;

    }

    a {
       display: inline;        
    }

    
}

@media screen and (min-width: 768px) {

    #wilderness {
        /* float: left; */
        /* padding: 10px; */
    }

    #survival {
        /* float: left; */
        /* padding: 10px; */
    }

    #icon {
        /* float: right; */
        /* height: 60px; */
        /* padding: 10px; */
    }

}

@media screen and (min-width: 980px) {

    #wilderness {
        /* float: left; */
        /* padding: 10px; */
    }

    #survival {
        /* float: left; */
        /* padding: 10px; */
    }

    #icon {
        /* float: right; */
        /* height: 60px; */
        /* padding: 10px; */
    }

}

/* MIN WIDTH MEDIA QUERIES ABOVE */
/* MEDIA QUERIES ABOVE */