        /* @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */

        body {
            background:
                linear-gradient(217deg, rgba(183, 197, 208, .8), rgba(183, 197, 208, 0) 70.71%),
                linear-gradient(127deg, rgba(220, 235, 193, .8), rgba(220, 235, 193, 0) 70.71%),
                linear-gradient(336deg, rgba(208, 198, 183, .8), rgba(208, 198, 183, 0) 70.71%),
                url(assets/images/wildback-01.jpg) no-repeat center center fixed;
            background-size: cover;
        }

        body {
            /* margin: 0px; */
        }

        * {
            box-sizing: border-box;
        }

        #head_container {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: rgba(0, 75, 79, .1);
            /* height: 50px; */
        }

        #head_content {
            height: 50px;
            /* background-color: rgba(244, 126, 48, .1); */
            max-width: 980px;
            margin: 0px auto;
            padding: 20px;
            /* display: table; */
        }

        #title {
            font-family: 'Raleway';
            font-weight: 900;
            font-size: 3rem;
            padding: 10px;
        }

        #wilderness {
            float: left;
            padding: 10px;

        }

        #survival {
            float: left;
            padding: 10px;

        }

        #icon {
            float: right;
            height: 60px;
            /* padding: 10px; */

        }


        #content {
            margin: 0 auto;
            /* width: 980px; */
            height: 100vh;
            background-color: rgba(248, 206, 61, .1);
        }

        #quiz_container {
            /* background-color: rgba(248, 206, 61, .1); */
            margin: 0 auto;
            /* width: 80%; */
            /* height: 50%; */
            position: relative;
            top: 200px;
        }

        #bs_container {
            background-color: rgba(248, 206, 61, .5);

        }

        #question {
            padding: 20px;
        }

        #response {
            padding: 0px;
        }



        #info_area {
            padding: 0px;
            background-color: rgba(244, 126, 48, .1);

        }

        #number_div {
            padding: 0px;
            background-color: rgba(0, 75, 79, .5);
            /* float: left; */
            margin: 0px;
        }

        #number {
            padding: 20px;
            /* background-color: rgba(244, 126, 48, .1); */
            float: left;
            margin: 0px;
            color: #fff;
        }

        #timer_div {
            padding: 0px;
            background-color: rgba(244, 126, 48, .5);
            /* float: right; */
            margin: 0px;

        }

        #timer {
            padding: 20px;
            /* background-color: rgba(244, 126, 48, .1); */
            float: right;
            margin: 0px;
            color: #fff;

        }



        #btn_area {
            background-color: rgba(244, 126, 48, .9);
            text-align: center;
            padding: 10px;
        }

        #btn_area h1 {
            /* background-color: red; */
            margin: 0 auto;
            font-family: 'Raleway';
            letter-spacing: .15rem;
            color: #fff;
        }


        #foot_container {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: rgba(244, 126, 48, .1);
            height: 50px;
        }

        #foot_content {
            height: 50px;
            background-color: rgba(244, 126, 48, .1);
            /* border: 1px solid black; */
            max-width: 980px;
            margin: 0px auto;
        }


        .result_cat {
            float: left;
        }

        .result_num {
            float: right;
        }